.dropdown-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  margin-top: 0.5rem;
  z-index: 50;
  gap: 0.5rem;
  width: 314px;
  max-height: 204px;
  overflow-y: auto;
  border-radius: 1rem;
  padding: 0.75rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.25s ease;

  &-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
