@use "sass:color";
@use "@/styles/variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  height: 2rem;
  border-radius: 2.625rem;
  cursor: pointer;
  font-weight: 600;
  font-size: $text-sm;
  line-height: $text-sm-line-height;
  transition:
    background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out,
    color 0.25s ease-in-out;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  &-variant {
    &-primary {
      border-color: $secondary-medium;
      background-color: $secondary-medium;
      color: $neutral-lightest;

      &:hover {
        border-color: $secondary-dark;
        background-color: $secondary-dark;
      }
    }

    &-outline {
      border-color: $secondary-medium;
      background-color: $neutral-lightest;
      color: $secondary-medium;

      &:hover {
        background-color: color.change($secondary-medium, $alpha: 0.05);
      }
    }

    &-ghost {
      border-color: transparent;
      background-color: transparent;
      color: $neutral-dark;

      svg {
        color: $accent-medium;
      }

      &:hover {
        background-color: $accent-medium;
        color: $neutral-extra-light;

        svg {
          color: $neutral-extra-light;
        }
      }
    }
  }

  &-block {
    display: flex;
    width: 100%;
  }
}
