// Colors

$neutral-lightest: #F0F0F2;
$neutral-extra-light: #E0E2E6;
$neutral-light: #C0C2C8;
$neutral-medium: #9EA0A5;
$neutral-dark: #7F8185;
$neutral-extra-dark: #5E5F63;
$neutral-darkest: #202122;

$primary-light: #0B0E3A;
$primary-medium: #060725;
$primary-dark: #020318;

$secondary-light: #EF4C84;
$secondary-medium: #D31450;
$secondary-dark: #8C1038;

$accent-light: #00BFC1;
$accent-medium: #009598;
$accent-dark: #006C6E;

// Typography

$font-size-base: 16px;

$heading-1-font-size: 3.5rem;
$heading-1-font-weight: 700;
$heading-1-line-height: 130%;

$heading-2-font-size: 2.25rem;
$heading-2-font-weight: 700;
$heading-2-line-height: 130%;

$heading-3-font-size: 1.25rem;
$heading-3-font-weight: 700;
$heading-3-line-height: 130%;

$text-base: 1rem;
$text-base-font-weight: 400;
$text-base-line-height: 150%;

$text-sm: 0.875rem;
$text-sm-font-weight: 400;
$text-sm-line-height: 150%;

$text-xs: 0.75rem;
$text-xs-font-weight: 400;
$text-xs-line-height: 130%;
