@use "styles/reset";
@use "styles/variables" as *;

body {
  font-family: "Open Sans", system-ui, -apple-system, sans-serif;
  line-height: $text-sm-line-height;
  font-weight: $text-sm-font-weight;
  color: $neutral-darkest;
  font-size: $text-sm;

  @media (min-width: $breakpoint-lg) {
    font-size: $text-base;
    line-height: $text-base-line-height;
    font-weight: $text-base-font-weight;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
