@use "@/styles/variables" as *;

$horizontal-padding: 1rem;

.inline-post {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid $neutral-extra-light;
  background-color: #FFFFFF;
  padding-bottom: 1rem;

  &-thumbnail {
    max-width: 100%;

    &-link {
      display: block;
      max-height: 196px;
      overflow: hidden;
      margin-bottom: 1rem;
    }
  }

  &-caption {
    display: flex;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  &-date {
    font-size: $text-xs;
    font-weight: $text-xs-font-weight;
    line-height: $text-xs-line-height;
  }

  &-author {
    font-size: $text-xs;
    font-weight: $text-xs-font-weight;
    line-height: $text-xs-line-height;
  }

  &-title {
    font-size: $heading-3-font-size;
    font-weight: $heading-3-font-weight;
    line-height: $heading-3-line-height;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    margin-top: 0;
    margin-bottom: 0.5rem;

    &-link {
      color: inherit;
      text-decoration: none;
    }
  }

  &-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    font-size: $text-sm;
    font-weight: $text-sm-font-weight;
    line-height: $text-sm-line-height;
    margin-bottom: 1rem;
  }

  &-categories {
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }
}
